.div-1-head-1{
    display: flex;
}
.div-2-head-1{
    display: flex;
}
.div-11-head-1{
    border: 1px solid;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    background-color: #fa6350;
    color: white;
    position: relative;
    height: 60px;
    
}
.div-111-head-1{
    border: 1px solid;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    background-color: #fa6350;
    color: white;
    position: relative;
    height: 60px;
}
.div-11-head-1 i{
    font-size: 25px;
}
.div-111-head-1 i{
    font-size: 25px;
}
.div-12-head-1{
    margin-left: 23px;
    display: flex;
    align-items: center;
}

.div-12-head-1 p{
    margin: 0px;
}
.div-11-head-1::after {
    position: absolute;
    content: "";
    height: 65px;
    width: 3px;
    background:  #fa6350;
    top: 58px;}
    .div-2-head-1{
        margin-top: 58px;
    }
    .head-1{
        margin-top: 69px;
    }
    .div-form-head-1{
        margin-top: 29px;

    }

    .into-head-1{
        width: 100%;
        height: 46px;
    }
    .div-form-head-1 label{
        font-style: italic;
        font-weight: 600;
    }
    .btn-head-1{
        background: black;
        font-style: italic;
        border-radius: 1px;
        width: 137px;
    
    }
    .text-head-1{
        width: 100%;
        height: 153px;
    }
    .btn-2-head-1{
    
    font-style: italic;
    border-radius: 1px;
    width: 137px;
    /* background:  #fa6350; */
    
    border: 1px solid   #fa6350;;
    background-color: white;
    color: black;}
    .div-122-head-1{


        margin-top: 39px;
    }
.div-1-head-2 iframe{
    width: 100%;
    height: 500px;
    /* position: relative; */
    filter: invert(1);
    box-shadow: -1px -2px 14px 14px beige;


}
.map-1::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;

}
.head-2{
    margin-top: 29px;
}
.sec-1{
    
    z-index: 999;
    width: 100%;

}
.icon-bars{
    color: black;
}
@media(max-width:983px){
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        justify-content: end;
    }
    .span-2-sec-7::before {
        position: relative;
        content: "";
        background-color: white;
        height: 122px;
        width: 7px;
        transform: rotate(19deg);
        position: absolute;
        top: -13px;
        right: 329px;
    }
    .col-media{
        display: none;
    }
    .div-1-sec-1 img {
        width: 80%;

    }
    .btn-head-1 {
        background: black;
        font-style: italic;
        border-radius: 1px;
        width: 137px;
        margin: 23px;
    }
}

















.colors{
    background-color: #310707;
    color: white;
    border-bottom:1px solid balck ;
    top: 0PX;
    z-index: 99999999;
}

.div-1-sec-1 img{
    width: 100%;

}



.navigation{
    color: white;
    
    font-size: 22px;
    margin-right: 36px;
    font-family: 'Castoro Titling';
}
.Acti-ve{
    color:orange;
    text-decoration: underline;
    animation-name: nav;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    

}
@keyframes nav{
    from{
        font-size: 22px;
        color: white;
    }
    to{
        /* font-size: 23px; */
        color: orangered;
    }
}

.navigation-1{
    color: white;
    
    font-size: 22px;
    font-family: 'Castoro Titling';
    
}
.navigation:hover{
    color: orangered;
    text-decoration:underline
}
.navigation-1:hover{
    color: orangered;
    text-decoration:underline

}
.icon-head-1{
    color: white;
    font-size: 23px;
    margin-right: 12px;

}
.row-1-sec-1{
    align-items: center;
    padding: 0px;
    background: #fa6350;
}
