.row-1-head-1{
    align-items: center;
    padding: 27px;
}



.div-1-head-1 img{
    
    width: 100%;
}
.head-1{
    background: url(./pexels-leif-blessing-15088222.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.navigation{
    color: white;
    
    font-size: 22px;
    margin-right: 36px;
    font-family: 'Castoro Titling';
}
.navigation-1{
    color: white;
    
    font-size: 22px;
    font-family: 'Castoro Titling';
    
}
.navigation:hover{
    color: orangered;
    text-decoration:underline
}
.navigation-1:hover{
    color: orangered;
    text-decoration:underline

}
.icon-111{
    color: white;

}
.icon-head-1{
    color: white;
    font-size: 23px;
    margin-right: 12px;

}
.div-2-head-1{
    text-align: end;
}
.icon-head-1:hover{

    color: orangered;
}
.div-1-row-2-head-1{
    color: white;
    text-align: end;
    /* display: inline; */
    /* position: relative; */
    /* right: 0; */
    position: relative;
    
    right: 129px;
    float: right;
    font-size: 45px;
}

.row-2-head-1{
    height: 365px;
    align-items: center;
}
.span-head-1{
    position: relative;
    color: orangered;
    font-family: 'Castoro Titling';
    margin-right: 9px;
    font-size: 73px;
    
}
.span-head-1::after{
    position: relative;
    content:"" ;
    background-color: white;
    height: 122px;
    width: 7px;
    transform: rotate(22deg);
    position: absolute;}
.span-2-head-1{
    /* position: relative; */
    font-family: 'Castoro Titling';
    top: 6px;
    right: 6px;

}
@media (max-width:1074px){
    .div-2-head-1 {
        display: none;
        text-align: end;
    }
    .col-media-1{
        display: none;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: end;
        padding: 0.5rem 1rem;
    }

  
}

@media(max-width:988px){
    .navigation {
        color: white;
        font-size: 22px;
        /* margin-right: 36px; */
        font-family: 'Castoro Titling';
        margin-right: 0px;
        
    }
    .navigation-1 {
    color: white;
    font-size: 22px;
    font-family: 'Castoro Titling';
    
}
.div-1-head-1 img {
    width: 37%;
}
}
@media(max-width:598px){
    .div-1-row-2-head-1 {
        color: white;
        text-align: end;
        /* display: inline; */
        /* position: relative; */
        /* right: 0; */
        position: relative;
        right: 11px;
        float: right;
        font-size: 40px;
    }
    .span-head-1 {
        position: relative;
        color: orangered;
        font-family: 'Castoro Titling';
        margin-right: 9px;
        font-size: 57px;
    }
    .span-head-1::after {
        position: relative;
        content: "";
        background-color: white;
        height: 86px;
        width: 7px;
        transform: rotate(22deg);
        position: absolute;
    }
}

@media(max-width:454px){
    .navigation {
        color: white;
        font-size: 16px;
        /* margin-right: 36px; */
        font-family: 'Castoro Titling';
        margin-right: 0px;
        width: 65px;
    }
    .navigation-1 {
        color: white;
        font-size: 16px;
        font-family: 'Castoro Titling';
        width: 68px;
    }
    .div-1-head-1 img {
        width: 67%;
    }
}
@media(max-width:358px){
    .span-head-1 {
        position: relative;
        color: orangered;
        font-family: 'Castoro Titling';
        margin-right: 9px;
        font-size: 46px;
    }
    .div-1-row-2-head-1 {
        color: white;
        text-align: end;
        /* display: inline; */
        /* position: relative; */
        /* right: 0; */
        position: relative;
        right: 11px;
        float: right;
        top: 75px;
        font-size: 40px;
    }
    .span-head-1::after {
        position: relative;
        content: "";
        background-color: white;
        height: 65px;
        width: 7px;
        transform: rotate(22deg);
        position: absolute;
    }
}
@media (max-width:346px){
    .div-1-row-2-head-1 {
        color: white;
        /* text-align: end; */
        /* display: inline; */
        /* position: relative; */
        /* right: 0; */
        position: relative;
        right: 32px;
        float: right;
        top: 75px;
        font-size: 30px;


    }

}
@media (max-width:324px){
    .div-1-row-2-head-1 {
        color: white;
        /* text-align: end; */
        /* display: inline; */
        /* position: relative; */
        /* right: 0; */
        position: relative;
        right: 11px;
        float: right;
        top: 75px;
        font-size: 30px;
    }

}
@media (max-width:280px){
    .div-1-row-2-head-1 {
        color: white;
        /* text-align: end; */
        /* display: inline; */
        /* position: relative; */
        /* right: 0; */
        position: relative;
        right: 11px;
        float: right;
        top: 75px;
        font-size: 30px;
    }
    @media (max-width: 280px)
.div-1-row-2-head-1 {
    color: white;
    /* text-align: end; */
    /* display: inline; */
    /* position: relative; */
    /* right: 0; */
    position: relative;
    right: 28px;
    /* float: right; */
    top: 75px;
    font-size: 20px;
    width: 100%;
}
    .div-1-row-2-head-1 {
        color: white;
        /* text-align: end; */
        /* display: inline; */
        /* position: relative; */
        /* right: 0; */
        position: relative;
        right: 11px;
        float: right;
        top: 75px;
        font-size: 29px;
    }
        .span-head-1 {
        position: relative;
        color: orangered;
        font-family: 'Castoro Titling';
        margin-right: 9px;
        font-size: 35px;
    }
    
    .span-head-1::after {
    position: relative;
    content: "";
    background-color: white;
    height: 54px;
    width: 4px;
    transform: rotate(22deg);
    position: absolute;
}
    
}
@media(max-width:270px){
.div-1-row-2-head-1 {
    color: white;
    /* text-align: end; */
    /* display: inline; */
    /* position: relative; */
    /* right: 0; */
    position: relative;
    right: 7px;
    float: right;
    top: 75px;
    font-size: 24px;
    }}
